.sg-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.tabs-content {
  user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sg-main__board {
  position: relative;
  width: 100%;
  flex: 1;
}

.sg-main__hand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #DEDEDE;
}

.cards {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  user-select: none;
  height: 80px;
  width: 60px;
  border: 1px solid #EEE;
  text-align: center;
  font-size: 12px;
  background: #FFF;
  &.active {
    top: -20px;
    z-index: 100;
  }
  & + .card {
    margin-left: -20px;
  }
}

.full {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.choiced-card {
  user-select: none;
  width: 300px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
}

.timer {
  position: absolute;
  top: 50px;
  border: 1px #EEE solid;
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
