.sg-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sg-main__board {
  width: 100%;
  flex: 1;
}

.sg-main__hand {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #DEDEDE;
}

.avatar {
  margin: 0 20px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #dedede;
  border-radius: 50%;
}
