.sg-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sg-main__board {
  width: 100%;
  flex: 1;
}

.sg-main__hand {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.avatar {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 4px;
  border: 1px solid #dedede;
  border-radius: 50%;
}

.introduce {

}

.common-board {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  flex-wrap: wrap;
  .line {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 50%;
    height: 20px;
    .anticon {
      position: absolute;
      left: 0;
    }
    &:nth-child(n+6) {
      margin-right: 5px;
      justify-content: flex-end;
      .anticon {
        right: 0;
        left: auto;
      }
      .little-avatar {
        margin-left: 0;
        margin-right: 5px;
      }
    }
    .number {
      padding-left: 5px;
      line-height: 20px;
    }
    .little-avatar {
      flex-shrink: 0;
      margin-left: 5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 0.5px solid #DEDEDE;
      box-sizing: border-box;
    }
    .content {
      padding-left: 5px;
      display: flex;
      align-items: center;
      flex: 1;
    }
  }
}

.vote {
  margin-top: 5px;
  height: 30px;
  .tips {
    font-weight: bold;
    text-align: center;
    font-size: 4px;
  }
}
